.event3 {
  /* background-color:; */
  text-align: center;
  align-items: center;
}
/* .container {
    align-items: center;
    margin: auto;
    justify-items: center;
} */
.card {
    background-color:#7D938A;
}

.sec{
    /* padding: 0 400px; */
}